.events {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.upcomingEvent {
  margin: 1em 0;
}

/* only for a single event that is next on the agenda */
.upcomingEvent:first-child {
  font-weight: bold;
  font-size: 1.5em;
  background-color: aqua;
}

